.card-space{
    display: flex;
    flex-wrap: wrap;

    .card-button-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .action-button {
            @include base-btn;
            border-radius: 5px;
            height: 30px;
            width: 200px;
        }
    }
    


    .profile-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 300px;
        padding: 20px;
        margin: 25px;
        margin-bottom: 10px;
        margin-top: 30px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    
        img {
            height: 100px;
            width: 100px;
            border-radius: 50px;
        }

        .bottom-container {
            display: flex;
            align-items: center;

            .add-donut {
                margin-left: 10px;
            }
        }
    }
}
