@import "./variables.scss";
@import "./mixins.scss";
@import "./nav-bar.scss";
@import "./donut-space.scss";

body {
    margin: 0px;
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    background-color: $offwhite;
    .map-space {
        height: 95vh;
        width: 100%;

        .map-container {
            height: 95vh;
            width: 100%;
        }
    }
}